.center {
    text-align: center;
    margin: auto;
}

.text-inline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.turn-text-left {
    text-align: left;
}

.turn-text-right {
    text-align: right;
}

.space5 {
    padding: 5%;
}

.margin-2px {
    margin: 2px;
}

.padding-space {
    padding: 5px;
}