<!DOCTYPE HTML>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search Product</title>
    <link href="style.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>

<body class="col center no-margin">

    <div class="col row no-margin">
        <div class="col-2 column" style="padding: 10px">
            <h4>Menu</h4>
            <h6>
                <a href="#/list">List Product</a>
            </h6>
            <h6>
                <a href="#/add">Add Product</a>
            </h6>
        </div>
        <div class="col-10" style="padding: 10px">
            <ng-view></ng-view>
            <!-- <div ng-app="addApp" ng-controller="AddController as ctl" ng-include="'/add-product'"></div>
            <div ng-app="listApp" ng-controller="ListController as ctl" ng-include="'/list-product'"></div> -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.7.2/angular.js"></script>
    <script src="https://code.angularjs.org/1.7.2/angular-route.js"></script>

    <!-- <script src="list-product.js"></script> -->
    <!-- <script src="add-product.js"></script> -->
    <script src="app.js"></script>
</body>

</html>